/* Delete Bill */

.delete-table-info {
  .lead {
    font-size: 1.5rem;
  }
}

.delete-bill-badge {
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 1.5;
  padding: 9px;
  margin-bottom: 20px;
}

.delete-bill-message {
  font-size: 18px;
  font-weight: 600;
  max-width: 270px;
}