/* Menu Type */

.menus {
  margin-top: 16px;
}

.menu-wrap {
  margin-bottom: 10px;
}

.menu {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba($black, .1);
  border-radius: 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  text-align: center;
  padding: 12px 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &.selected {
    &::before,
    &::after {
      position: absolute;
    }

    &::before {
      content: '';
      background-color: $primary;
      right: -28px;
      bottom: -28px;
      width: 56px;
      height: 56px;
      transform: rotate(-45deg);
    }

    &::after {
      content: '\e916';
      font-family: icomoon !important;
      font-size: 16px;
      line-height: 26px;
      color: $white;
      text-align: center;
      width: 24px;
      height: 26px;
      right: 0;
      bottom: 0;
    }
  }
}